# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries


# Compiled Static libraries

/temp
/build/temp
/bin/win32
/build/ipch
/build/Debug
/external/freetype/objs
/lib

*.log
*.sbr
*.tlog
*.obj
*.user
*.ipch
*.pch
*.opensdf
*.sdf
*.pdb
*.suo
*.lib
*.bsc
*.zip
*.rar
Debug
ipch
*.ilk
Debug Library
Release
Release Library
/build/win32/vs2013/*.opendb
/external/glfw-3.1.1/CMake
build/win/vs/.vs/gamegui/v15/Browse.VC.db
*.opendb
*.db-shm
build/win/vs/.vs/gamegui/v15/Solution.VC.db
