# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/temp
/build/temp

/build/ipch
/build/Debug
/external/freetype/objs

*.sbr
*.tlog
*.obj
*.user
*.ipch
*.pch
*.opensdf
*.sdf
*.pdb
*.suo
*.lib
win32
