# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries


# Compiled Static libraries

/temp
/build/temp

/build/ipch
/build/Debug
/external/freetype/objs

*.sbr
*.tlog
*.obj
*.user
*.ipch
*.pch
*.opensdf
*.sdf
*.pdb
*.suo
*.lib
*.bsc
Debug
ipch
*.ilk
Debug Library
Release
Release Library
